h1{
	color:#883399;
	font-size:25px;
	font-family: 'Goblin One';
}

h2{
	color:yellow;
	font-size: 19px;
	background-color: black;
	font-family: 'Newsreader', serif;
}

h3{
	color:black;
	font-size:15px;
	font-family: 'Newsreader', serif;
	text-align: justify;
}

h4{
	color:black;
	font-size:10px;
	font-family: 'Newsreader', serif;
    text-transform: uppercase;
    text-align: center;
}

h5{
	color:yellow;
	font-size: 50px;
	font-family: 'Goblin One';
	margin-top: 250px;
}

h6{
	color:white;
	font-size: 19px;
	background-color: black;
	font-family: 'Newsreader', serif;
	margin-top: -70px;	
    -webkit-text-emphasis-style: open;
}

.banner {
    background-image: url(../imagenes/portada2.jpg);
    height: 400px;
    padding-top: 100px;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.card-white {
	width: 100%;
	height: 580px;
	background-color: black;
	display: flex;
}

.bandas {
	width: 30%;
	height: 530px;
	padding: 10px 10px;
	margin: 10px;
	flex-grow: 1;
	background-color: white;
	border-radius: 5px;
	box-shadow: 2px grey;
}

.card-white img {
	width: 100%;
	height: 200px;
	object-fit: cover; #para que no se deformen las imagenes
	display: flex;
}

.btn-link {
    background-color: #883399;
    color: white;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}